@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>

<h3>Home Address</h3>
<address>
    Sean Rice
    140 Pratt St.<br />
    Belmont, NC 28012
</address>

<h3>School Address</h3>
<address>
    Sean Rice
    Apt. 1D
    2239 14th St.<br />
    Troy, NY 12180
</address>

<address>
    <strong>Phone:</strong> (803)-493-0099<br />
    <strong>Personal Email:</strong> seane.rice@gmail.com<br/>
    <strong>School Email:</strong> rices@rpi.edu
</address>