
@{
    ViewBag.Title = "Projects";
}

<h2>@ViewBag.Title</h2>

<br />
<h3>Unity Engine</h3>
<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5>Character Scripting Library</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="@Url.Action("CharacterScriptingLibrary", "Projects")" class="btn btn-primary">Check it out!</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5>Projects</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="@Url.Action("Index","Projects")" class="btn btn-primary">Check it out!</a>
        </div>
    </div>
</div>

<br />
<h3>Circuitry</h3>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="~/Pics/Mk2_2.jpg" alt="Card image cap">
        <div class="card-body">
            <h5>About</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="@Url.Action("About","Home")" class="btn btn-primary">Check it out!</a>
        </div>
    </div>
</div>